body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
}


/* container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
}

/* Hero Section */


.logo {
    font-size: 25px;
    color: rgb(230, 158, 25);
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("./Assets/Hero1.jpg") center no-repeat;
    background-size: cover;
    
}

.intro__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    opacity: 0.6;
}


.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}


/* Header */
    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding-top: 30px;
        
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Nav */

    .nav {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        
    }
    .nav__link {
        display: inline-block;
        vertical-align: top;
        color: rgb(119, 109, 98);
        text-decoration: none;
        transition: color .2s linear;
        margin: 0 20px;
        
    }
    
    .nav__link:hover {
        color: rgb(219, 126, 83);
    }
    